:root {
  --bg: linear-gradient(180deg, #0d1117 0%, #161b22 100%);
  --card-bg: linear-gradient(180deg, #1a1f27 0%, #202833 100%);
  --text: #ffffff;
  --text-muted: #9ba1ae;
  --border-line: rgba(128, 128, 128, 0.278);
  --accent: #ff9f3f;
}

body {
  background: var(--bg) fixed no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
  color: white;
}

header {
  display: flex;
  flex-direction: rows;
  padding: 16px;
  padding-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-line) 0.5px solid;
}

h1 {
  font-size: 52px;
  font-weight: 600;
  color: var(--text);
}

.app-identity {
  display: flex;
  flex-direction: rows;
  margin-left: 0;
  gap: 16px;
}

.app-name {
  margin-top: 20px;
}

.app-logo {
  width: 80px;
  height: 80px;
  margin: 16px 0px 0px 16px;
}

.user-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  gap: 32px;
}

.search-icon,
.profile-pic {
  width: 48px;
}
